{% load static %}
<div class="fixed bottom-8 right-8 p-4 px-8 rounded-xl z-50 opacity-0 transition-all duration-300 translate-y-64 flex items-center gap-4
     bg-white 
     border-2 border-stone-700 
     shadow-[6px_6px_0_0_rgba(68,64,60,1)] 
     transition-shadow duration-150 ease-out" id="toast-component">

    <span id="toast-icon" class="text-2xl flex-shrink-0"></span>

    <div>
        <h3 class="font-bold text-gray-900" id="toast-title">
            This is a Sample Title
        </h3>
        <p class="text-gray-700 text-sm line-clamp-3" id="toast-message">
            This is a Sample Message
        </p>
    </div>
</div>
<script src="{% static 'js/toast.js' %}"></script>